<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="prd">
      <div id="prdInfo"></div>
      <button onclick="getPrdInfo()">상품정보 가져오기</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function getPrdInfo(prdId) {
        axios.get("/prd/" + prdId).then((res) => {
          console.log(res);
          document.getElementById("prdInfo").html = res;
        });
      }
    </script>
  </body>
</html>
