<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="login">
      <label for="id"></label><input type="text" id="id" placeholder="id" />
      <input
        type="password"
        id="password"
        placeholder="password"
      />
      <button onclick="login()">로그인</button>
    </div>
    <div id="logout">
      <button onclick="logout()">로그아웃</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      // get/post, URL패턴 확인 (EX.비밀번호확인창 등)
      function login() {
        axios
          .post("/auth/login/", {
            id: document.getElementById("id").value,
            password: document.getElementById("password").value,
          })
          .then((res) => {
            console.log(res);
          });
      }
      function logout() {
        axios
          .post("/auth/logout")
          .then((res) => {
            console.log(res);
          });
      }
    </script>
  </body>
</html>
