<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msa.mapper.reader.CommonCodeReaderMapper">

    <!--
      기능: 공통코드 목록 조회
      작성자: fnfnksb@gmail.com
      작성일: 2022.11.11
     -->
    <!-- <select id="selectCodeList" parameterType="CommonCodeListEntity" resultType="CommonCodeEntity"> -->
    <select id="selectCodeList" parameterType="CommonCodeSearch" resultType="CommonCodeList">
        /* com.msa.mapper.reader.CommonCodeReaderMapper.selectCodeList */
        SELECT 
            c.code_grp,
            c.code,
            c.code_nm,
            c.code_val1,
            c.code_val2,
            c.code_val3,
            c.code_val4,
            c.code_val5,
            c.use_yn,
            c.disp_no,
            c.reg_dt,
            c.mod_dt,
            c.reg_seq,
            c.mod_seq
        FROM `system`.code c
        <include refid="selectCodeListWhere" />
        <if test="isPaging">
        LIMIT #{rowCount} OFFSET #{startPage}
        </if>
    </select>

    <!--
      기능: 공통코드 목록 개수 조회
      작성자: fnfnksb@gmail.com
      작성일: 2022.11.14
     -->
    <select id="selectCodeListCount" parameterType="CommonCodeSearch" resultType="Integer">
        /* com.msa.mapper.reader.CommonCodeReaderMapper.selectCodeListCount */
        SELECT 
            count(*)
        FROM `system`.code c
        <include refid="selectCodeListWhere" />
    </select>

    <!-- 
        기능: 공통코드 목록 검색조건
        작성자: fnfnksb@gmail.com
        작성일: 2022.11.17
    -->
    <sql id="selectCodeListWhere">
        WHERE 1=1
        <if test="!@org.apache.commons.lang3.StringUtils@isBlank(codeGrp)">
        AND c.code_grp = #{codeGrp}
        </if>
        <if test="!@org.apache.commons.lang3.StringUtils@isBlank(code)">
        AND c.code = #{code}
        </if>
        <if test="!@org.apache.commons.lang3.StringUtils@isBlank(codeNm)">
        AND c.code_nm = #{codeNm}
        </if>
        <if test="!@org.apache.commons.lang3.StringUtils@isBlank(useYn)">
        AND c.use_yn = #{useYn}
        </if>
    </sql>

    <!-- 
        기능: 공통코드 정보 조회
        작성자: fnfnksb@gmail.com
        작성일: 2022.11.17
    -->
    <select id="selectCode" resultType="Code">
        /* com.msa.mapper.reader.CommonCodeReaderMapper.selectCode */
        SELECT 
            c.code_grp,
            c.code,
            c.code_nm,
            c.code_val1,
            c.code_val2,
            c.code_val3,
            c.code_val4,
            c.code_val5,
            c.use_yn,
            c.disp_no,
            c.reg_dt,
            c.mod_dt,
            c.reg_seq,
            c.mod_seq
        FROM `system`.code c
        WHERE
            c.code_grp = #{codeGrp}
        AND c.code = #{code}
    </select>

</mapper>